@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<form asp-action="CyclingCounter" asp-controller="Cycling">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Time started</span>
        </div>
        <input name="startedDate" class="form-control col-sm-3" type="date" min="@(DateTime.Now.Year + "-" + DateTime.Now.Month.ToString("D2") + "-"
        + DateTime.Now.Day.ToString("D2"))"
               max="@(DateTime.Now.Year + "-" + DateTime.Now.Month.ToString("D2") + "-" + DateTime.Now.Day.ToString("D2")@*+ "T00:00"*@)" />
        <input name="startedHour" style="width:50px" class="form-control" type="time" />

        <div class="input-group-prepend">
            <span class="input-group-text">Time ended</span>
        </div>
        <input name="endedDate" min="@(DateTime.Now.Year + "-" + DateTime.Now.Month.ToString("D2") + "-" + DateTime.Now.Day.ToString("D2"))"
               max="@(DateTime.Now.Year + "-" + DateTime.Now.Month.ToString("D2") + "-" + DateTime.Now.Day.ToString("D2"))" type="date" class="form-control col-sm-3" />
        <input name="endedHour" style="width:50px" class="form-control" type="time" />


        <div class="input-group-append">
            <input type="submit" class="btn btn-outline-dark" name="Submit" />
        </div>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Distance</span>
        </div>
        <input step="0.01" name="distanceCovered" style="width:50px; " class="form-control" type="number" />
    </div>

</form>