<div class="jumbotron">
    <h1>Personal Data</h1>
    <p class="lead">Here you will get to track and add your personal data</p>
    <span style='font-size:100px;'>&#x1F525; &#128688;&#128564;&#x2696;</span>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Calories</h2>
        <p></p>
        <a class="btn btn-outline-dark" asp-area="" asp-controller="Calories" asp-action="Index"> Click here</a>
    </div>
    <div class="col-md-3">
        <h2>Water Intake</h2>
        <p></p>
        <a class="btn btn-outline-dark" asp-area="" asp-controller="WaterIntake" asp-action="Index"> Click here</a>
    </div>
    <div class="col-md-3">
        <h2>Sleep</h2>
        <p></p>
        <a class="btn btn-outline-dark" asp-area="" asp-controller="Sleep" asp-action="Index"> Click here</a>
    </div>
    <div class="col-md-3">
        <h2>Weight</h2>
        <p></p>
        <a class="btn btn-outline-dark" asp-area="" asp-controller="Weight" asp-action="Index">Click here</a>
    </div>
</div>