<div class="jumbotron">
    <h1>Physical Data</h1>
    <p class="lead">Here you will get to track and add your physical data</p>
    <p class="lead">Walking Running Swimming Cycling</p>
    <img src="/Images/healthcare-activity.png" alt="Healthcare Activity" width="400" height="250" />
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Walking</h2>
        <p></p>
        <a class="btn btn-outline-dark" asp-area="" asp-controller="Walk" asp-action="Index"> Click here</a>
    </div>
    <div class="col-md-3">
        <h2>Running</h2>
        <p></p>
        <a class="btn btn-outline-dark" asp-area="" asp-controller="Run" asp-action="Index"> Click here</a>
    </div>
    <div class="col-md-3">
        <h2>Swimming</h2>
        <p></p>
        <a class="btn btn-outline-dark" asp-area="" asp-controller="Swimming" asp-action="Index"> Click here</a>
    </div>
    <div class="col-md-3">
        <h2>Cycling</h2>
        <p></p>
        <a class="btn btn-outline-dark" asp-area="" asp-controller="Cycling" asp-action="Index">Click here</a>
    </div>
</div>