<div class="jumbotron">
    <h1>Physical Data</h1>
    <p class="lead">Here you will get to track and add your physical data</p>
    <span style='font-size:100px;'>&#128694;&#127939;&#127946;&#128690;</span>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Walking</h2>
        <a class="btn btn-outline-dark" asp-area="" asp-controller="Calories" asp-action="Index"> Click here</a>
    </div>
    <div class="col-md-3">
        <h2>Running</h2>
        <a class="btn btn-outline-dark" asp-area="" asp-controller="WaterIntake" asp-action="Index"> Click here</a>
    </div>
    <div class="col-md-3">
        <h2>Swimming</h2>
        <a class="btn btn-outline-dark" asp-area="" asp-controller="Sleep" asp-action="Index"> Click here</a>
    </div>
    <div class="col-md-3">
        <h2>Cycling</h2>
        <a class="btn btn-outline-dark" asp-area="" asp-controller="Weight" asp-action="Index">Click here</a>
    </div>
</div>