@{ ViewBag.Title = "Contact"; }
<h2>@ViewBag.Title</h2>

<address>
    <p> This application was built by 5 team members in the module of Intergrated Projects 2</p>
    <p>Here is our team</p>
    <strong>Module Leader - Huaglory Tianfield</strong>   <a href="mailto:h.tianfield@gcu.ac.uk">h.tianfield@gcu.ac.uk</a><br />
    <strong>Aadam Razak</strong>   <a href="mailto:arazak200@caledonian.ac.uk">arazak200@caledonian.ac.uk</a><br />
    <strong>Raza Khan</strong>   <a href="mailto:mkhan223@caledonian.ac.uk">mkhan223@caledonian.ac.uk</a><br />
    <strong>Kaloyan Nedyalkov</strong>   <a href="mailto:knedya200@caledonian.ac.uk">knedya200@caledonian.ac.uk</a><br />
    <strong>Kalin Erenditsov</strong>   <a href="mailto:kerend200@caledonian.ac.uk">kerend200@caledonian.ac.uk</a><br />
    <strong>James Knox</strong>   <a href="mailto:jknox202@caledonian.ac.uk">jknox202@caledonian.ac.uk</a><br />

</address>

<address>
    Glasgow Caledonian University<br />
    Cowcaddens Road, Glasgow<br />
    G4 0BA<br />
    <abbr title="Phone">P:</abbr>
    +44 (0)141 331 3000
</address>