@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@{ ViewBag.Title = "Mental Welbeing"; }


<!--static page contans links to help lines and forms that help with mental health-->

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead"></p>
    <img src="/Images/mental-health.jpg" alt="Mental Welbeing" width="300" height="250" />

</div>

<div class="row">
    <div class="col-md-3">
        <h2>Mental health</h2>
        <p>

        </p>
        <p><a class="btn btn-outline-dark" href="https://www.google.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Depression</h2>
        <p></p>
        <p><a class="btn btn-outline-dark" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Another topic</h2>
        <p></p>
        <p><a class="btn btn-outline-dark" href="#">Learn more &raquo;</a></p>
    </div>
</div>