@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@{ ViewBag.Title = "Index"; }


<!--Running Index-->
<!--CRUD functions-->
<div class="jumbotron">
    <h1>Welcome to Running &#127939;</h1>
    <p class="lead">Here you can manage your running sessions</p>
    <img src="favicon.ico" alt="GCU logo" width="200" height="200" />
</div>

<div class="row">
    <div class="col-md-5">
        <h2>Add Running session</h2>
        <a class="btn btn-outline-dark" asp-area="" asp-controller="Run" asp-action="RunCounter"> Click here</a>

    </div>
    <div class="col-md-5">
        <h2>Delete Running session</h2>
        <a class="btn btn-outline-dark " asp-area="" asp-controller="Run" asp-action="Delete">Click here</a>
    </div>
</div>